<div class="game-cards">
    <a routerLink="/home/juegos/ahorcado" class="game-card">
      <img src="../../../assets/ahorcado.png" alt="Avatar" class="game-avatar" />
      <div class="game-title">Ahorcado</div>
    </a>
    <a routerLink="/home/juegos/mayorMenor" class="game-card">
      <img src="../../../assets/high.png" alt="Avatar" class="game-avatar" />
      <div class="game-title">Mayor o Menor</div>
    </a>
    <a routerLink="/home/juegos/preguntados" class="game-card">
      <img src="../../../assets/preguntados.png" alt="Avatar" class="game-avatar" />
      <div class="game-title">Preguntados</div>
    </a>
    <a routerLink="/home/juegos/ruleta" class="game-card">
      <img src="../../../assets/ruleta.jpg" alt="Avatar" class="game-avatar" />
      <div class="game-title">Ruleta Rusa</div>
    </a>
  </div>
  <router-outlet></router-outlet>
  