.game-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .game-card {
    flex: 0 1 calc(10% - 5px); /* Ajusta el tamaño según tus necesidades */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f7f7f7;
    text-decoration: none; /* Elimina el subrayado del enlace */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-card:hover {
    background-color: #e0e0e0;
  }
  
  .game-avatar {
    max-width: 250px; /* Ajusta el tamaño de la imagen */
    margin-bottom: 10px;
  }
  
  .game-title {
    font-size: 18px;
    font-weight: bold;
  }
  